<div class="ui fixed inverted menu">
  <div class="ui container">
 

    {{ if isset .Site.Params "logo" }}
    <a class="header item" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
      <img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
    </a>
    {{ else }}
    <a class="header item" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
  {{ end }}
   


    <a href="#" class="item">Home</a>


    {{ range .Site.Menus.main.ByWeight }}
    {{ if .HasChildren }}

    <div class="ui simple dropdown item">
      {{ .Name }} <i class="dropdown icon"></i>
      <div class="menu">
 
        {{ range .Children }}
        <a href="{{ .URL | relLangURL }}" class="item">{{ .Name }}</a>
      {{ end }}
 
      </div>
    </div>

    {{ else }}
    <a   class="item" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
  
    {{ end }}
  {{ end }}
 
   

  </div>
</div>






<!-- Search Modal -->
<!-- {{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }} -->
